.about-sec {
    padding: 3rem 0;
    text-align: center;
    background: linear-gradient(rgba(245, 245, 245, 0.8),white);
    width: 100%;
    overflow-x: hidden;
    color: black;
}
.about-primary {
    font-size: 2rem;
    margin-bottom: 16px;
    font-weight: 800;
}
.head-line {
width: 9rem;
height: 5px;
position: relative;
border-radius: 5px;
left: 50%;
transform: translateX(-50%);
margin-top:-11px;
}

.primary-bg {
    background-color: #7843e9;
}

.about-para {
    font-size: 20px;
    margin: 50px 0;
}

.about__content-details-row {
    text-align: left;
    margin: 0 60px;
}


/* Skills */

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills__skill {
    padding: 4px 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    font-size: 17px;
    background: rgba(153,153,153,.3);
    border-radius: 5px;
    font-weight: 600;
}

.my-skills-head {
    margin-bottom: 30px;
    width: fit-content;
}

@media  (max-width: 600px) {
    .about-para{
        font-size: 13px;
    }
    .about__content-details-row {
        text-align: left;
        margin: 0 20px;
    }
    .about-content-details-para{
        font-size: 13px;
    }
    .skills__skill {
        font-size: 14px;
    }
    .my-skills{
        margin-bottom: 7%;
    }
}