.header-name-content {
  font-size: larger;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #7843e9;
  margin-left: 5%;
}
.nav-link{
  font-weight: 600;
  font-size: large;
}
.navbar{
  background-color: white !important;
  background: linear-gradient(rgba(245, 245, 245, 0.8),white);
}
.btn-resume{
background-color: #7843e9;
color: white;
font-size: large;
font-weight: 600;
}
.btn-resume a :hover{
  border:1px solid white;
}
.btn-resume-icon:hover{
  border:1px solid white !important;
}
.btn-resume-div :hover{
  background-color: white;
  border: 1px solid  #7843e9;
  color: #7843e9;
}
