.card{
    text-align: left;
    width: 80%;
}
.card img{
    height: 230px;
}
.project-para{
    font-size: 20px;
}
.project-row{
    width: 80% !important;
}
.btn-gitrepo{
    background-color: #7843e9;
    color: white;
}
.btn-gitrepo:hover{
    border: 1px solid #7843e9;
    color: #7843e9; 
}
.btn-live{
    background-color: #7843e9;
    color: white;
    width: 80%;
}
.btn-live:hover{
    border: 1px solid #7843e9;
    color: #7843e9; 
}
.card-text{
    height: 100px;
}

@media  (max-width: 600px) {
    .project-para{
        font-size: 13px;
    }
    .project-row{
        width: 200% !important;
        
    }
    .project-row .col-12{
        display: flex;
        justify-content: center;
    }
    .card{
        text-align: left;
        width: 90%;
    }
}

@media (min-width:600px) and (max-width:830px) {
    .project-row{
        width: 100% !important;
    }
    .project-row .col-12{
        display: flex;
        justify-content: center;
    }
    .btn-gitrepo{
        margin-left: 9% !important;
        margin-right: 9% !important;
    }
    .card {
        width: 95%;
    }
}